.Landing {
  width: calc(100% - 75px);
  display: flex;
  height: 100vh;
  overflow: hidden;

  & .left {
    width: 50%;
    background: #211d1d;
    overflow: hidden;

    & .topNav {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 30px;
      position: fixed;

      & .logo {
        & img {
          width: 100px;
        }
      }

      & .search {
        position: relative;
        right: 55%;
        padding: 0.2rem 1rem;
        align-items: center;
        width: 200px;

        &-icon {
          color: gray;
        }

        & input {
          background: transparent;
          border: none;
          padding: 0px 20px;
          outline: none;
          color: gray;
          max-width: 150px;
        }
      }
    }

    & .contents {
      color: white;
      padding: 300px 50px 10px;

      & .breakline {
        width: 350px;
        height: 2px;
        margin: 20px 0px;
        background: gray;
      }

      & span {
        color: gray;
      }

      & p {
        font-size: 14px;
      }

      & button {
        background: #daa87b;
        color: white;
        padding: 0.5rem 2rem;
        margin-top: 25px;
      }
    }
  }

  & .right {
    width: 50%;
    height: 100vh;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }
}
